.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.container__botao:checked ~ .container_rotulo > .cabecalho__menu-hamburguer{
    background-image: url("../assets/Menu2.svg");
}
.container__botao:checked~.container_rotulo{
    background: var(--azul-degrade);
}
.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
}
.container {
    display: flex;
    align-items: center;
}
.container__image{
    padding: 1em;
}
.lista-menu{
    display: none;
    position: absolute;
    top:100%;
    width: 60vw;
}
.container__botao:checked~.lista-menu{
    display: block;
}
.lista-menu__titulo, 
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}
.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;

}
.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
.container__botao{
    display: none;
}
.container_titulo{
    display: none;
}
.opcao{
    display: none;
}
.container_texto{
    display: none;
}

@media screen and (min-width: 1024px){
    .container_titulo, 
    .container_titulo--negrito{
        font-family: var(--fonte-secundario);
        font-size: 30px
    }
    .container_titulo{
        font-weight: 400;
        display: block;
    }
    .container_titulo--negrito{
        font-weight: 700;
    }
    .opcao{
        display: flex;
   
    }
    .opcao_item{
        padding: 0 1em;
        text-transform: uppercase;
    }
    .opcao_link{
        text-decoration: none;
        color:var(--preto);
    }
    .container_imagem--transparente{
        display: none;
    }
    .cabecalho__menu-hamburguer{
        display: none;
    }
    .opcao_botao:checked~.lista-menu{
        display: block;
        width:auto;
    }
    .opcao_botao{
        display: none;
    }
    .opcao_botao:checked~.opcao_rotulo>.opcao_item{
        background: var(--azul-degrade);
        color: var(--branco);
    }
    .opcao_item{
        padding: 2em 1em;
    }
    .lista-menu__item:hover{
        background: var(--azul-degrade);
    }
    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}
@media screen and (min-width: 1080px) {
    .container_link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    .cabecalho{
        padding: 0 2em;
    }
    .opcao{
        margin-right: 20%;
    }
    .container_texto{
        display: block;
    }
}

@media screen and (min-width: 1728px) {
    .container_link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    .cabecalho{
        padding: 0 2em;
    }
    .opcao{
        margin-right: auto;
    }
    .container_texto{
        display: block;
    }
}